<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a mercado liebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet">
<link href="styles/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../../css/fonts.css">
<link rel="stylesheet" href="../../css/style.css"
</head>
<body class="color-negro">
    <header class="bg-yellow ">
        <img src="assets/logo-mercado-liebre.svg" alt="Logo de mercado liebre" width="360" />
         <div class="search-bar w50">
         <input
         type="text"
         placeholder="Buscar productos, marcas y más..."
         class="input-nav"
        />
         <button class="button-nav">
        <i class="fas fa-search"></i>
        </button>
          </div>
        <p>Compra en cuotas y sin tarjeta de credito<i class="fa-solid fa-hand-holding-dollar"></i></p>
        <nav>
            <ul>
                <li><a href=#> Ofertas </li>
                <li><a href=#> Tiendas oficiales </li>
                <li><a href=#> Vender </li>
                <li><a href=#> Ayuda </li>        
            </ul>
            <ul>
                <li><a href=#> Crea tu cuenta <i class="fa-solid fa-id-card"></i></li>
                <li><a href=#> Ingresa <i class="fa-solid fa-right-to-bracket"></i> </li>
                <li><a href=#> Mis compras <i class="fa-solid fa-cart-shopping"></i></li>        
            </ul>
        </nav>
        <div class="burger-menu texto-centrado">
            <i class="fas fa-bars"></i>
          </div>
            
    </header>
    <section>
        <img class="banner" src="assets/img-home-banner.jpg" alt="" width="360" />
      </section>



      <main class="container bg-light-gray subrayado">
        <h2 class="font-heading">Basado en tu última visita</h2>
  
        <section class="last-visit-container">
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-cafetera-moulinex.jpg"
                alt="cafetera moulinex pro"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$6.700</p>
                <p class="discount font-sixteen color-green">40% OFF</p>
                <h3 class="descripcion font-sixteen">Cafetera Moulinex Pro</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-macbook-pro-2019.jpg"
                alt="Macbook Pro 2019"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$230.000</p>
                <p class="discount font-sixteen color-green">20% OFF</p>
                <h3 class="descripcion font-sixteen">Macbook Pro 2019</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-samsung-galaxy-s10.jpg"
                alt="Samsung Galaxy S10"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$70.500</p>
                <p class="discount font-sixteen color-green">10% OFF</p>
                <h3 class="descripcion font-sixteen">Samsung Galaxy S10</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-tv-samsung-smart.jpg"
                alt="Smart TV Samsung 43 pulgadas"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$23.200</p>
                <p class="discount font-sixteen color-green">5% OFF</p>
                <h3 class="descripcion font-sixteen">Smart TV Samsung 43"</h3>
              </div>
            </article>
          </div>
        </section>
  
        <h2 class="titular">Sección de Ofertas</h2>
  
        <section class="ofertas-container">
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-cafetera-moulinex.jpg"
                alt="cafetera moulinex pro"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$6.770</p>
                <p class="discount font-sixteen color-green">40% OFF</p>
                <h3 class="descripcion font-sixteen">Cafetera Moulinex Pro</h3>
              </div>
            </article>
          </div>
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-macbook-pro-2019.jpg"
                alt="Macbook Pro 2019"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$230.000</p>
                <p class="discount font-sixteen color-green">20% OFF</p>
                <h3 class="descripcion font-sixteen">Macbook Pro 2019</h3>
              </div>
            </article>
          </div>
  
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-samsung-galaxy-s10.jpg"
                alt="Samsung Galaxy S10"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$70.500</p>
                <p class="discount font-sixteen color-green">10% OFF</p>
                <h3 class="descripcion font-sixteen">Samsung Galaxy S10</h3>
              </div>
            </article>
          </div>
  
          <div class="wrapper">
            <article class="product">
              <img
                src="assets/img-tv-samsung-smart.jpg"
                alt="Smart TV Samsung 43 pulgadas"
              />
              <div class="product-content">
                <p class="fas fa-truck"></p>
                <p class="price">$23.200</p>
                <p class="discount font-sixteen color-green">5% OFF</p>
                <h3 class="descripcion font-sixteen">Smart TV Samsung 43"</h3>
              </div>
            </article>
          </div>
        </section>
      </main>






        <footer class="bg-white" style="text-align:center" style="padding: 10px">
            <section>
                <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo </h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
                </p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                </p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                </p>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
</body>
</html>